<h1 class="mat-h1">{{title}}</h1>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule description </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule score </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.isActive" disabled></mat-checkbox>
    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon> &#8595;</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="container">
  <form>
    <div class="form-group">
      <label for="code">code</label>
      <input type="text" class="form-control" id="code" required [(ngModel)]="code" name="code">
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <select type="text" class="form-control" id="description" required [(ngModel)]="description" name="description">
        <option value="age">age</option>
        <option value="bets">spendsOnBets</option>
        <option value="age">sex</option>
      </select>
    </div>
    <div class="form-group">
      <label for="score">score</label>
      <input type="number" min="0" max="100" class="form-control" id="score" required [(ngModel)]="score" name="score">
    </div>
    <div class="form-group">
      <label for="isActive">isActive</label>
      <input type="checkbox" class="form-control" id="isActive" required [(ngModel)]="isActive" name="isActive">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-warning">Cancel</button>
  </form>
</div>
