<div class="rating__container">
  <img src="../assets/success.png" alt="" class="rating__img">
  <p class="text-center rating__text1">Ati efectuat plata in valoare de 135.50 lei catre S.C BetExpert</p>
  <p class="text-center rating__text2">Este importanta plata?</p>
  <div class="rating__wrapper d-flex">
    <span>Nu</span>
    <form action="">

      <div class="d-flex">
        <input class="rating__input d-none" type="radio" name="rating" value="1" id="rating1">
        <label class="rating__button" for="rating1">1</label>

        <input class="rating__input d-none" type="radio" name="rating" value="2" id="rating2">
        <label class="rating__button" for="rating2">2</label>

        <input class="rating__input d-none" type="radio" name="rating" value="3" id="rating3">
        <label class="rating__button" for="rating3">3</label>

        <input class="rating__input d-none" type="radio" name="rating" value="5" id="rating5">
        <label class="rating__button" for="rating5">5</label>

        <input class="rating__input d-none" type="radio" name="rating" value="8" id="rating8">
        <label class="rating__button" for="rating8">8</label>

        <input class="rating__input d-none" type="radio" name="rating" value="13" id="rating13">
        <label class="rating__button" for="rating13">13</label>

      </div>
    </form>

    <span>Da</span>
  </div>
</div>
