<div class="">
  <div class="row balance__heading">
    <img class="col-2 balance__heading-icon" (click)="navigateBack()" src="../assets/back.png" alt="">
    <div class="col-10 justify-content-center text-center">Balance: 1500 RON</div>
  </div>
  <div class="balance__item row">
    <img class="col-4" src="../assets/grocery.png" alt="">
    <div class="col-4 px-0 balance__item-category">
      <p class="balance__item-average">Average: 854 RON</p>
      <p class="balance__item-category">Groceries</p>
      <p class="balance__item-date">05.04.2019</p>
    </div>
    <div class="col-4 balance__item-end">
      <p class="balance__item-end-1">Should Spend:</p>
      <p class="balance__item-end-2">500-700 RON</p>
    </div>
  </div>

  <div class="balance__item row">
    <img class="col-4" src="../assets/electricity.png" alt="">
    <div class="col-4 px-0 balance__item-category">
      <p class="balance__item-average">Average: 254 RON</p>
      <p class="balance__item-category">Electricity</p>
      <p class="balance__item-date">07.04.2019</p>
    </div>
    <div class="col-4 balance__item-end">
      <p class="balance__item-end-1">Should Spend:</p>
      <p class="balance__item-end-2">100-300 RON</p>
    </div>
  </div>

  <div class="row balance__salary">
      <p>Salary</p>
      <p>+45200</p>
  </div>
<div class="opacity">
  <div class="balance__item row">
    <img class="col-4" src="../assets/jewelry.png" alt="">
    <div class="col-4 px-0 balance__item-category">
      <p class="balance__item-average">Average: 2015 RON</p>
      <p class="balance__item-category">Jevelry</p>
      <p class="balance__item-date">12.04.2019</p>
    </div>
    <div class="col-4 balance__item-end">
      <p class="balance__item-end-1">Should Spend:</p>
      <p class="balance__item-end-2">500-700 RON</p>
    </div>
  </div>

  <div class="balance__item row">
    <img class="col-4" src="../assets/grocery.png" alt="">
    <div class="col-4 px-0 balance__item-category">
      <p class="balance__item-average">Average: 601 RON</p>
      <p class="balance__item-category">Groceries</p>
      <p class="balance__item-date">14.04.2019</p>
    </div>
    <div class="col-4 balance__item-end">
      <p class="balance__item-end-1">Should Spend:</p>
      <p class="balance__item-end-2">500-700 RON</p>
    </div>
  </div>
</div>
</div>
